@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
* {
     font-family: 'MontSerrat',sans-serif;
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     border: none;
     outline: none;
     text-transform: capitalize;
     transition: 0.2s linear;
}
.container {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
}
.container .row {
     width: 800px;
     border-radius: 20px;
     display: flex;
     flex-wrap: wrap;
     gap: 25px;
     padding: 25px;
     border: 1px solid rgba(255,255,255,0.5);
     box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}
.container .row .box {
     flex: 1 1 300px;
}
.container .row .output {
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     gap: 15px;
     padding: 30px 20px;
     border: 1px solid rgba(255,255,255,0.5);
     box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
     background-color:rgba(0,0,0,0.2);
     border-radius: 20px;
}
.container .row .output p {
     font-size: 20px;
     color:#334;
}
.container .row .output div {
     font-size: 25px;
     color:#019;
}
.container .row .form p {
     font-size: 20px;
     color:#334;
}
.container .row .form .input {
     width: 100%;
     background: none;
     border: 1px solid rgba(0,0,0,0.2);
     border-radius: 10px;
     background-color:rgba(255,255,255,0.2);
     color:#334;
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 20px;
     padding: 10px 15px;
}
.container .row .form .input::placeholder {
     color:#555;
     text-transform: none;
}
.container .row .form .tenure .input[type="radio"] {
     display: none;
}
.container .row .form .tenure {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
}
.container .row .form .tenure .input[type="radio"]:checked + label {
     background-color:rgba(0,0,200,0.3);
}
.container .row .form .tenure label {
     font-size: 20px;
     border: 1px solid rgba(0,0,0,0.2);
     border-radius: 10px;
     background-color:rgba(0,0,0,0.2);
     color:#fff;
     flex: 1;
     text-align: center;
     padding: 10px;
     cursor: pointer;
}
.container .row .form .calculate {
     width: 100%;
     border: 1px solid rgba(0,0,0,0.2);
     border-radius: 10px;
     margin-top: 20px;
     padding: 12px;
     background-color:rgba(255,255,255,0.3);
     box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
     font-size: 20px;
     cursor: pointer;
}
.container .row .form .calculate:hover {
     background-color:rgba(0,0,200,0.3);
     color:#fff;
     box-shadow: 0px 5px 15px rgba(0,0,200,0.3);
}